@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Rubik+Moonrocks&family=Rubik+Wet+Paint&display=swap');


body {
    background-color: 	#F0F0F0;
    font-family: 'Neucha', sans-serif;
    font-size: 16PX;
    font-weight: normal;
    color: 	#303030;
}

a{
    color: #505050;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(32, 31, 30);
}

a:visited{
    color: peru;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 40px;
}

.container h1{
    letter-spacing: .2rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px #380000, 2px 2px #380000, -1px -1px #380000, -2px -2px #380000, -1px 1px #380000, 1px -1px #380000, -2px 2px #380000, 2px -2px #585858, -3px -3px 4px #585858, -3px 3px 4px #585858, 3px 3px 4px #585858, 3px -3px 4px #585858;
}

.social {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.social-text {
    text-align: center;
    flex-basis: 32%;
    padding: 2px;
    box-sizing: border-box;
    margin-top: 2px;
}
.social-text1 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    color:	#480000;
}


.container-1 {
    max-width: 750px;
    margin: auto;
    color: #200000;
} 

.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text {
    margin-left: 30px;
}
.avatar {
    width: 300px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px #380000;
}

.info-text p {
    margin: 0;
    margin-bottom: 10px;
}

.info-text h4 {
    margin-bottom: 10px;
}

.card {
    border: 2px solid #680000;
    border-radius: 20PX;
    border-image-source: linear-gradient(180deg, #680000 0%, rgba(47, 79, 79, 0) 100%);
    border-image-slice: 1;
    background: #F8F8F8;
    padding: 15px 20px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #380000;
    text-align: left;
}

.btn {
    background: #680000;
    color:#F8F8F8;
    padding: 5px    10px;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}
.container-one {
    width: 750px;
    margin: auto;
  }

  .members {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .member {
    text-align: center;
    flex-basis: 16%;
    padding: 2px;
    box-sizing: border-box;
    margin-bottom: 12px;
  }
  .foto {
    width: 80px;
    height: 80px;
    border-radius: 20px;
  }
  .member-name {
    margin: 0;
    margin-top: 12px;
    font-weight: 600;
    font-size: 16px;
    color:	#480000;
  }

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #8B4513; 
    padding-bottom: 5px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
    padding-right: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3){
    color: 	#480000;
}

.form h2{
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
}
    
.form-row .form-group {
    display: inline-block;
    margin-right: 20px;
    width: calc(50% - 20px);
}
    
.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group label {
display: block;
font-size: 14px;
color: #480000;
}
.form-group input {
    display: block;
    font-size: 14px;
    color: #480000;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #480000;
    color: #2f4f4f;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}


@media (max-width:650px) {
    .info {
        display: block;
        text-align: center;
    }
}

@media (max-width:650px) {
    .form-row .form-group { 
        display: block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width:704px) {
.members {
    display: block;
}
}